<!DOCTYPE html>
<html>
  <head>
    <title>NYC subway: Home Page</title>
    
  </head>

  <body>
    <h1>Here is the list of train times for the routes selected:</h1>
    
    {% for r in schedule %}
      
        <p>
            The next {{ r['train'] }} train(s) towards {{ r['terminal'] }} will arrive at {{ r['station'] }} in : <br/>
            
            <a href = "{{url_for('removeRequest', requestID=r['requestID'], userID=user)}}">Delete Request</a><br/>
            
            {% if r['times']|length == 0 %}
                No available data at this time.
            {% else %}
                {% for t in r['times'] %}
                
                    {{ t[0] }} seconds<br/>
            
                {%endfor%}
            {% endif %}
            <br/>

    {%endfor%}
      
      <p><a href = "{{url_for('addRoute', userID=user)}}">Add a route</a></p>
      
  </body>
</html>
