<!DOCTYPE html>
<html>
  <head>
    <title>NYC subway: Sign up</title>
    
  </head>

  <body>
    <h1>Enter the following information to create an account</h1>
    
    <form action="/login" id="signUpForm" name="signUpForm" method="POST">
        <strong>UserName : </strong><input type="text" id="newUserName" name="newUserName" value=""><br/>
        <strong>Password :</strong> <input type="password" id="newPassword" name="newPassword" value=""><br/>
        <strong>Confirm password :</strong> <input type="password" id="newPassword2" name="newPassword2" value=""><br/>
        <strong>Email : </strong><input type="text" id="newEmail" name="newEmail" value=""><br/>
        <input type="submit" value="Sign Up"><br/>
        
        <h4>Please do not enter any sensitive information!!!!</h4>
        
    </form>

  </body>
</html>
